@import "element-ui/lib/theme-chalk/index.css";
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

body {
  width: 520px;
  height: 500px;
  overflow: hidden;
}
.side-bar {
  cursor: pointer;
  margin: 20px;
  height: 20px;
  width: 30px;
  border-radius: 8px;
}
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(92, 92, 92);
}

::-webkit-scrollbar-thumb {
  background: #2e9dd8;
}
